<!DOCTYPE html>
<html lang="en">

<head>
    {{>headtag}}
</head>

<body>
    {{>navbar}}

    <!-- Home Section-->
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12 main_header_left ">
                <figure>
                    <img src="img/404Error.png" alt="about" class="img-fluid" title="Weather App">
                </figure>

            </div>
        </div>
    </div>




    {{>footer}}

    {{>liabrary}}




</body>

</html>