<!DOCTYPE html>
<html lang="en">

<head>
    {{>headtag}}
</head>

<body>
    {{>navbar}}

    <!-- Home Section-->
    <div class="container-fluid home_section">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row ">
                    <!-- Left Section-->

                    <!-- Right Section-->
                    <div class="col-md-6 col-12 main_header_left ">
                        <figure>
                            <img src="img/developer-3461405_1920.png" alt="about" class="img-fluid" title="Weather App">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to About Section</p>
                        <h1>I am a<span class="text-primary"> Mern Stack Developer</span> And a Freelancer</h1>
                        <a href="/home"><button class=" shadow check-now btn btn-primary my-4 ">About Me</button></a>
                    </div>


                </div>
            </div>
        </div>

        {{>footer}}

        {{>liabrary}}




</body>

</html>